body {
	font-family: Inconsolata;
	margin: 0;
	background: white;
}

.header {
	/*padding: 0px;*/
	text-align: left;
	/*background: #8d93ba;*/
	color: #d22d6f;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.bckgrnd-img {
  background-image: url("images/background.jpg");
  background-color: #cccccc;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto(default);
  position: relative;
}

.content {
	padding: 20px;
}

.subheader {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 80px;
	padding-right: 30px;

	text-align: left;
	color: black;
	font-size: 15px;
	display: inline;
}

.banner {
	text-align: center;
	font-size: 35px;

}
.resume {
}

.about {
	padding: 20px;
	position: static;
	min-width: 20px;
}

.projects {
	background-color: #ffdbdc;

}

img.align {
	float: left;
	padding-right: 30px;
}

p.bold {
	font-weight: 900;
}

p.about {
/*	padding:45px;
	margin: 45px;*/
	line-height: 1.6;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: white;
	padding: 10px;
	text-align: center;
}
.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

.source-code-container {
	margin-top: 50px;
	padding-bottom: 5px;
}

.table {
	display: table;
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
ul#horizontal-list li {
	display: inline;
}


/*labels*/

.label {
  color: white;
  padding: 8px;
  font-family: Arial;
  font-size: 15px;
}
.sql {background-color: #4CAF50; /*Green*/}
.javascript {background-color: #2196F3;} /* Blue */
.cpp {background-color: #ff9800;} /* Orange */
.hmmm {background-color: #f44336;} /* Red */ 
.c-only {background-color: #8F00FF; color: white;} /* Gray */ 
.python {background-color: #5AB190; color: white;} /* Light Green */ 
.java {background-color: #B49FDC; color: black;} /* Gray */ 
.javaServerPages {background-color: #e92efb; color: white;}

a {
  color:blue; background:white;
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
}
a:hover { color:red; }